.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.game-over {
  position: fixed;
  height: 80vh;
  width: 100vw;
  left: 0;
  top: 56px;
  z-index: 10;
  display: flex;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  display: block;
  font-size: 6em;
}

table {
  width: 30vw;
  font-size: 1em;
  text-align: center;
}

th,
td {
  padding: 15px;
}

th {
  font-size: 4em;
}

td {
  font-size: 1.5em;
}

#playAgain {
  width: 30vw;
}

tr:nth-child(2) {
  font-size: 2.8em;
}

tr:nth-child(3) {
  font-size: 2.5em;
}

tr:nth-child(4) {
  font-size: 2em;
}

.no-answer {
  font-style: italic;
}

#recapColumn > .column {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 20px;
}
